
html{

    background-image: linear-gradient(45deg, rgb(4, 4, 97),black)
}
.bt{

    font-family: 'arial';
    font-size: 22px;
    height: 67px;
    width: 250px;
    color: rgb(10, 10, 150);
    background: #fff ;
    
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-color: rgb(10, 10, 150);

}
.bt:hover{

    color: rgb(255, 255, 255);
    background: rgb(4, 4, 97);

}
.bt-criptografar{

    position: absolute;
    height: 35px;
    width: 19%;
    top: 82.5%;
    left: 10%;
    text-align: center;

    
    }
.bt-descriptografar{

    position: absolute;
    height: 35px;
    width: 19%;
    top: 82.5%;
    left: 26.5%;
    text-align: center;


    }
.bt-copiar{

    position: fixed;
    height: 35px;
    width: 30%;
    top: 82% ;
    left: 58%;
    line-height: 19px;
    text-align: center;
        
    }
.resultado{

    outline: none;
    background-color: rgb(211, 199, 199);
    color: rgb(4, 4, 97);
    position: fixed;
    width: 35%;
    height: 70%;
    top: 10%;
    left:55%;
    word-wrap: normal;

}
.crip-desc{

    outline: none;
   background-color: rgb(211, 199, 199);
   color: rgb(4, 4, 97);
    position: fixed;
    width: 35%;
    height: 70%;
    top: 10%;
    left:10% ;
    word-wrap: normal;

}



