
html{
    background: #F28A2E;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containers{
    display: flex;
    gap: 10em;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

}
.text{
    width: 25rem;
    height: 20rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 18px 1px #44280f;
}
.crip-desc,
.resultado{
    outline: none;
}
.primeiro-container-bt{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 1rem;
}
.segundo-container-bt{
    display: flex;
    align-items: center;
    justify-content: center;
    }
.bt{
    width: 9em;
    height: 2em;
    border-radius: 8px;
    border: none;
    background: #0f3ca6;
    color: #fff;
}
.bt:hover{
    cursor: pointer;
    background: #0a2f85;

}



